<!DOCTYPE html>
<html lang="ca"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Accés denegat | Too Cool for School</title>

    <link rel="stylesheet"
          th:href="@{/css/error.css}">

</head>

<body>

<main class="error-page">

    <section class="error-card">

        <img
                th:src="@{/images/logo.jpeg}"
                alt="Too Cool for School"
                class="error-logo">


        <span class="error-code">
            403
        </span>


        <h1>
            Accés denegat
        </h1>


        <p>
            No tens permisos per accedir
            a aquesta pàgina.
        </p>


        <a th:href="@{/inicio}"
           class="primary-button">
            Tornar a l'inici
        </a>

    </section>

</main>

</body>

</html>